<div class="todo-list">
    <div id="list-head">
        <h1 id="title">Bloc It Off</h1>
        <p id="description">Blocitoff uses the Firebase API and AngularJS to create tasks with an expiration date.</p>
    </div>
    
    <div id="list-body">  
        <h3> Current Taks</h3>
        
    </div>
        
    <div id="list-footer">
        <p id="add-title">Add New Task</p>
        <div>
            <input id="task-text" type="text" ng-model="task">
            <input id="high" type="radio" name="priority" value="high" ng-model="radio_high"> High
            <input id="norm" type="radio" name="priority" value="normal" ng-model="radio_norm" checked> Normal
            <input id="low" type="radio" name="priority" value="low" ng-model="radio_low"> Low<br>
            <input id="add-task" type="button" value="Add Task" ng-click="addTask()">
            <input id="task-history" type="button" value="Show Task History">
        </div>
    </div>
</div>