<div class="todo-list">
    <div id="list-head">
        <h1 id="title">Bloc It Off</h1>
        <p class="description">Blocitoff uses the Firebase API and AngularJS to create tasks with an expiration date.</p>
        <p class="description">Tasks will expire if not acted upon after 7 days.</p>
    </div>
    
    <div id="list-body">  
        <h3> Current Taks</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Priority</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in tasks">
                    <td>{{ task.task_text }}</td>
                    <td>{{ task.priority }}</td>
                    <!-- I need to add the icons here -->
                </tr>
            </tbody>
        </table>
    </div>
        
    <div id="list-footer">
        <p id="add-title">Add New Task</p>
        <div>
            <input id="task-text" type="text" ng-model="task_text"><br>
            <p class="priority"> Add Priority: </p>
            <input id="high" type="radio" name="priority" value="high" ng-model="priority"><p class="priority"> High</p>
            <input id="norm" type="radio" name="priority" value="normal" ng-model="priority"><p class="priority"> Normal</p>
            <input id="low" type="radio" name="priority" value="low" ng-model="priority"><p class="priority"> Low</p><br>
            <input class="task-buttons" type="button" value="Show Task History" ng-click="showHistory">
            <input class="task-buttons" type="button" value="Add Task" ng-click="addTask()">
        </div>
    </div>
</div>