<div class="todo-list" data-ng-init="isTaskExpired()">
    <div id="list-head">
        <h1 id="title">Bloc It Off</h1>
        <p class="description">Blocitoff uses the Firebase API and AngularJS to create tasks with an expiration date.</p>
        <p class="description">Tasks will expire automatically if not acted upon after 7 days.</p>
    </div>
    
    <div id="list-body" ng-show="currentTaskList">  
        <h3> Current Tasks</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="450">Task</th>
                    <th width="50">Priority</th>
                    <th width="150">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in active_tasks" ng-show="task.status_active">
                    <td width="400">{{ task.task_text }}</td>
                    <td width="50">{{ task.priority }}</td>
                    <td>
                        <input type="checkbox" ng-model="task.compChecked" ng-click="completedTask(task)">Comp.
                        <input type="button" ng-click="deleteTask(task)" value="Delete">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div id="list-footer" ng-show="currentTaskList">
        <p id="add-title">Add New Task: </p>
        <div>
            <input id="task-text" type="text" ng-model="task_text"><br>
            <p class="priority"> Add Priority: </p>
            <input type="radio" name="priority" value="High" ng-model="priority"><p class="priority"> High</p>
            <input type="radio" name="priority" value="Normal" ng-model="priority"><p class="priority"> Normal</p>
            <input type="radio" name="priority" value="Low" ng-model="priority"><p class="priority"> Low</p><br>
            <input class="task-buttons" type="button" value="Show Task History" ng-click="showHistory()">
            <input class="task-buttons" type="button" value="Add Task" ng-click="addTask()">
        </div>
    </div>
    
     <div id="list-body" ng-show="historyTaskList">  
        <h3> Task History</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="450">Task</th>
                    <th width="50">Priority</th>
                    <th width="150">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in active_tasks" ng-show="!task.status_active">
                    <td width="400">{{ task.task_text }}</td>
                    <td width="50">{{ task.priority }}</td>
                    <td>
                        <input type="checkbox" ng-model="task.compChecked" ng-click="reactivateCompTask(task)">Comp.
                        <input type="checkbox" ng-model="task.expChecked" ng-click="reactivateExpTask(task)" >Exp.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="list-footer" ng-show="historyTaskList">
        <p id="add-title">Add New Task: </p>
        <div>
            <input disabled id="task-text" type="text" ng-model="task_text"><br>
            <p class="priority"> Add Priority: </p>
            <input disabled type="radio" name="priority" value="high" ng-model="priority"><p class="priority"> High</p>
            <input disabled type="radio" name="priority" value="normal" ng-model="priority"><p class="priority"> Normal</p>
            <input disabled type="radio" name="priority" value="low" ng-model="priority"><p class="priority"> Low</p><br>
            <input class="task-buttons" type="button" value="Show Current Tasks" ng-click="showCurrentTasks()">
            <input disabled class="task-buttons-disabled" type="button" value="Add Task" >
        </div>
    </div>
    
</div>